body {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.menu .navigation{
    display: flex;
    gap: 10px;
}

.menu .navigation .icon.svg{
    transition: 0.3s;
}

.menu .navigation .icon.svg:hover{
    transform: scale(1.1);
}

.menu .navigation a{
    text-decoration: none;
}

.marginPage {
    margin-inline: 5%;
    margin-block: 50px;
}

h1,
h2,
h3 {
    margin: 0;
}

header,
footer {
    padding-inline: 5% !important;
    padding-block: 20px;
}

header{
    background: linear-gradient(to right, #111827, #374151);
}

footer{
    background: #374151;
}

.icon.svg{
    filter: invert(1);
}

.gestionCateg h1,
.gestionProduit h1 {
    margin-bottom: 50px;
}

.gestionCateg h2,
.gestionProduit h2 {
    margin-bottom: 20px;
}

.gestionCateg .creationCateg,
.gestionProduit .creationProduit {
    margin-bottom: 50px;
}

.gestionCateg .creationCateg form,
.gestionProduit .creationProduit form {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
}

.gestionCateg .creationCateg form button:hover,
.gestionProduit .creationProduit form button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.gestionCateg .listCateg button,
.gestionCateg .modifCateg button,
.gestionProduit .listProduit button,
.gestionProduit .modifProduit button{
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.gestionCateg .listCateg button:hover,
.gestionProduit .modifProduit button:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.gestionCateg .modifCateg button:hover,
.gestionProduit .modifCateg button:hover{
    cursor: pointer;
    background-color: lightskyblue;
}

.listCateg,
.listProduit{
    margin-bottom: 50px;
}

.creationCateg,
.listCateg,
.modifCateg,
.creationProduit,
.listProduit,
.modifProduit {
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
}

@keyframes shine {
    0% {
      transform: skewX(-12deg) translateX(-200%);
    }
  
    100% {
      transform: skewX(-12deg) translateX(200%);
    }
  }