body {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.menu .navigation{
    display: flex;
    gap: 10px;
}

.menu .navigation a{
    text-decoration: none;
}

.marginPage {
    margin-inline: 5%;
    margin-block: 50px;
}

h1,
h2,
h3 {
    margin: 0;
}

header,
footer {
    padding-inline: 5% !important;
    padding-block: 20px;
}

header,
footer {
    background-color: gray;
}

.gestionCateg h1 {
    margin-bottom: 50px;
}

.gestionCateg h2 {
    margin-bottom: 20px;
}

.gestionCateg .creationCateg {
    margin-bottom: 50px;
}

.gestionCateg .creationCateg form {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
}

.gestionCateg .creationCateg form button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.gestionCateg .listCateg button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.gestionCateg .listCateg button:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.creationCateg,
.listCateg {
    padding: 10px;
    background-color: beige;
}